langchain
openai
python-dotenv
requests
tqdm
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
Pylance
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
wikipedia
validators==0.28.1
youtube_transcript_api
yt_dlp
unstructured
numexpr
duckduckgo-search